/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Navigation */
nav {
    background-color: #4b0082;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6a0dad;
    color: #e0e0e0;
}

/* Header */
header#hero {
    background-image: url('lavendar.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#project1 {
    background-image: url('matrix.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#project2 {
    background-image: url('restos.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#project3 {
    background-image: url('lavendar.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInAndSlideUp 1s forwards ease-in-out;
}

.hero-photo img {
    border-radius: 10%;
    width: 300px;
    height: 350px;
    object-fit: cover;
    margin-right: 40px;
}

.hero-text {
    text-align: right;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 24px;
}

@keyframes fadeInAndSlideUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Sections */
section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #4b0082;
    text-align: center;
}

section p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.education-item,
.project-item,
.experience-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
}

.education-item h3,
.project-item h3,
.experience-item h3 {
    font-size: 24px;
    color: #6a0dad;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
    font-size: 18px;
}

/* Form Styles */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff9f51;
}

/* Footer */
footer {
    background-color: #4b0082;
    color: #f8f9fa;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #6a0dad;
    font-family: 'Open Sans', sans-serif;
}

footer p {
    margin: 0;
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}

footer a img.footer-icon {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
}

footer a img.footer-icon:hover {
    opacity: 0.7;
}

/* Responsive Adjustments */
@media screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul li {
        margin: 0 20px;
    }

    header#hero {
        padding: 150px 0;
    }

    .hero-content {
        width: 90%;
    }

    .hero-photo img {
        width: 400px;
        height: 450px;
    }

    .hero-text {
        text-align: left;
    }

    .hero-text h1 {
        font-size: 56px;
    }

    section h2 {
        font-size: 48px;
    }

    section p {
        font-size: 20px;
    }

    .education-item h3,
    .experience-item h3 {
        font-size: 28px;
    }

    li {
        font-size: 20px;
    }
}

